app-avatar {


  .circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-items: center;
    align-items: center;
  }

  .logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .text span {
    position: absolute;
    left: 50%;
    font-size: 1.2rem;
    transform-origin: 0 100px;
  }

  .text {
    animation: rotateText 10s linear infinite;
  }

  @keyframes rotateText {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
