<div style="font-family:appfont"
     class="tw-flex tw-justify-center tw-items-center tw-h-[100vh] tw-text-[5vw] tw-bg-black">

  <span style="--i:1;">H</span>
  <span style="--i:2;">a</span>
  <span style="--i:3;">p</span>
  <span style="--i:4;">p</span>
  <span style="--i:5;" class="tw-mr-[2vw]">y</span>
  <span style="--i:6;">b</span>
  <span style="--i:7;">i</span>
  <span style="--i:8;">r</span>
  <span style="--i:9;">t</span>
  <span style="--i:10;">h</span>
  <span style="--i:11;">d</span>
  <span style="--i:12;">a</span>
  <span style="--i:13;" class="tw-mr-[2vw]">y</span>
  <span style="--i:14;">t</span>
  <span style="--i:15;" class="tw-mr-[2vw]">o</span>
  <span style="--i:16;">y</span>
  <span style="--i:17;">o</span>
  <span style="--i:18;">u</span>
  <span style="--i:19;" class="tw-mr-[2vw]">,</span>
  <span style="--i:20;">x</span>
  <span style="--i:21;">m</span>

</div>



